{% extends 'usercommon.html' %}
{% load static %}
{% block header %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<div class="form-inner-cont pt-lg-5">
    
    <center>
        <h1><b>Add Feedback here</b></h1><br><br>
        <form method="post" class="signin-form" style="margin-left: 380px;">
            {% csrf_token %}
            <div class="form-grids">

                <div class="form-input" style="margin-top: -30px;margin-left: 200px;">
                    <select name="review" id="" class="form-select form-select-lg mb-3" required>
                        <option value="" disabled selected>Select Rating</option>
                        <option value="Excellent">Excellent</option>
                        <option value="Good">Good</option>
                        <option value="Average">Average</option>
                        <option value="Bad">Bad</option>
                    </select>
                </div>

            </div>

            <div class="text-center" style="margin-top: 40px;margin-left: -250px;">
                <button class="btn btn-danger" style="width: 100px;padding: 15px;margin-bottom: 20px;">Send</button>
            </div>
        </form>
    </center>
</div>

{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}

{% endblock %}