{% extends 'contractor/contractorbase.html' %}

{% load static %}

{% block content %}

<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian py-md-5 py-3">
        <div class="container">
            <div class="heading">
                <h2 class="title-subhny mb-2" style="margin-left: 500px;"><center><b>View customer Feedbacks</b></center></h2>
            </div>
            
            <div class="form-inner-cont pt-lg-5">

               
                    <table class="table table-bordered"> 
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Feedback</th>
                        
                    </tr>
                    {% for i in feedback %}
                    <tr>
                        <td>{{i.uid.name}}</td>
                        <td>{{i.uid.email}}</td>
                        <td>{{i.uid.phone}}</td>
                        <td>{{i.msg}}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
               
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->
</div>





{% if msg %}
<script>
   
    alert('{{msg}}')
</script>
{% endif %}

<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian py-md-5 py-3">
        <div class="container">
            <div class="heading">
                <h2 class="title-subhny mb-2" style="margin-left: 500px;"><center><b>View worker Feedbacks</b></center></h2>
            </div>
            
            <div class="form-inner-cont pt-lg-5">

               
                    <table class="table table-bordered"> 
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Feedback</th>
                        
                    </tr>
                    {% for i in feedback1 %}
                    <tr>
                        <td>{{i.wid.name}}</td>
                        <td>{{i.wid.email}}</td>
                        <td>{{i.wid.phone}}</td>
                        <td>{{i.msg}}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
               
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->
</div>





{% if msg %}
<script>
   
    alert('{{msg}}')
</script>
{% endif %}


{% endblock %}