{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
      content="Induz Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <title>WORK LAND </title>
    <link href="//fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap"
      rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
    {% for i in messages %}
    <script>
        alert('{{i}}');
    </script>
  </head>
  
  <div class="header-w3l">
      <!--header-->
      <header id="site-header" class="header-w3l fixed-top">
        <div class="container">
          <nav class="navbar navbar-expand-lg stroke">
            <a class="navbar-brand" href="index.html">
             Work Land
            </a>
            <!-- if logo is image enable this   
              <a class="navbar-brand" href="#index.html">
                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
              </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation"> <body>
   
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mx-lg-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/userviewprofile">Profile</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/workrequest">Request Work</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="/userviewcontractor">View Contractors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/userviewstatus">Work Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/userviewpayment">payment Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
                
              </ul>
  
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
              <nav class="navigation">
                <div class="theme-switch-wrapper">
                  <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox">
                    <div class="mode-container">
                      <i class="gg-sun"></i>
                      <i class="gg-moon"></i>
                    </div>
                  </label>
                </div>
              </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
          </nav>
        </div>
      </header>
    </div>
    <!-- //header -->
    <!--/w3l-banner-content-->
    <div class="banner-w3l-main">
      <div class="w3l-banner-content">
        <div class="container">
          <div class="bannerhny-info text-center">
            <!-- The reliable industry takes many forms -->
            <h3 class="">With hard work and effort, you can achieve anything.</h3>
           
          </div>
        </div>
      </div>
  
    </div>
    <!--//w3l-banner-content-->
    <!--/w3l-upper-sec-->
    <!-- //w3l-upper-sec-->
    
    
    
    <!--/w3l-content-1-->
    
    
    <!--//w3l-content-1-->
    <!-- home page block1 -->
    <!-- //home-page-block1 -->
    <!-- stats -->
    
    
    
    
    
    
    
    
    
    
    
    <!-- //stats -->
    <!-- middle -->
  <div class="w3l-middle py-5">
    <div class="container py-lg-5 py-md-4">
      <div class="welcome-left">
       
        <h3 class="title-w3l two mb-4">We Believe In Building Long Lasting Our Business Relationships.</h3>
        <!-- <p class="pr-lg-5">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio adipisicing. </p> -->
      
      </div>
    </div>
  </div>
  <!-- //middle -->
    <!--/Blog-Posts-->
    <!--//Blog-Posts-->
    <!-- /w3l-newsletter-->
      {% comment %} <section class="w3l-newsletter"> {% endcomment %}
          <!-- /form-25-section -->
          <!-- <div class="form-25-main py-5">
              <div class="container py-lg-5">
                  <div class="forms-25-info">
            <div class="title-content text-center mx-0">
              <h6 class="title-subhny two mb-2"><span>Newsletter</span></h6>
              <h3 class="title-w3l two">Subscribe to get the latest
                              <br>news and updates.</h3>
            </div>
                      <form action="#" method="post" class="signin-form mt-4 mb-2">
                          <div class="forms-gds">
                              <input type="text" name="" placeholder="Name" required />
                              <input type="email" name="" placeholder="Email" required />
                              <button class="btn btn-style btn-primary">Subscribe</button>
              </div>
              <p class="mt-4 text-center">By submitting this form, you agree to the <a href="#">privacy policy</a> and <a href="#">terms of use</a></p>
                      </form>
                  </div>
              </div>
          </div>
      </section> -->
      <!-- //w3l-newsletter-->
    <!--/testimonials-->
    <!--//testimonials-->
    <!-- footer-28 block -->
    <footer class="footer-28 position-relative py-5">
      <div class="container">
       
        <div class="midd-footer-28 align-center py-2 mt-5">
          <p class="copy-footer-28 text-center">© 2024 <a>
              WORKLAND zenithsabu1712@gmail.com</a></p>
        </div>
      </div>


        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            &#10548;
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
        <!-- //footer-28 block -->
    </footer>
    <!--//footer-->
    <!-- Template JavaScript -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/theme-change.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
    <!-- script for tesimonials carousel slider -->
    <!-- script for owlcarousel -->
    <script>
        $(document).ready(function () {
            $('.owl-testimonial').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- stats number counter-->
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countup.js' %}"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats number counter -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->


    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

</body>

</html>